/* /var/folders/dw/llx1jnhx0pv6hq5fxq5tjnsr0000gn/T/com.eusoft.eudic.QuickLook/1544152972_mdx_1/collinsEC.css */

#ID1544152972child * {
  text-decoration: none;
}

#ID1544152972child a:hover {
  color: #C00000;
}

body #ID1544152972child {
  font-family: "微软雅黑";
  font-size: 14px;
  color: #000000;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 19px;
}

#ID1544152972child .collins_content {
  padding-top: 10px;
}

#ID1544152972child p {
  font-family: Monaco, "微软雅黑" !important;
  font-size: 11px;
  color: #000000;
  margin: 0;
  padding: 0;
  line-height: 19px;
}

#ID1544152972child .C1_word_header {
  height: 28px;
  background-color: #019098;
  margin: 15px 0 0 0;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 3px;
  overflow: hidden;
  display: none;
}

#ID1544152972child .C1_word_header_word {
  font-family: "微软雅黑";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  height: 28px;
  color: #FFFFFF;
  background-color: #019098;
  margin: 0 8px 0 0;
  padding: 0 12px;
  display: block;
  float: left;
}

#ID1544152972child .C1_word_header_star {
  font-family: "微软雅黑";
  font-size: 13px;
  font-weight: normal;
  line-height: 28px;
  height: 28px;
  color: #C00000;
  margin: 0;
  padding: 0;
  float: left;
  display: none;
}

#ID1544152972child .C1_color_bar {
  height: 28px;
  margin: 0;
  padding: 0;
  float: right;
  display: none;
}

#ID1544152972child .C1_color_bar ul {
  height: 28px;
  margin: 0;
  padding: 0 8px 0 0;
  list-style: none;
}

#ID1544152972child .C1_color_bar ul li {
  margin: 0;
  padding: 0;
  float: right;
}

#ID1544152972child .C1_cabr_1 {
  margin: 0;
  padding: 0;
  border-top: 13px solid #5CC5F0;
  height: 15px;
  width: 8px;
}

#ID1544152972child .C1_cabr_2 {
  margin: 0;
  padding: 0;
  border-top: 10px solid #3EAE40;
  height: 18px;
  width: 8px;
}

#ID1544152972child .C1_cabr_3 {
  margin: 0;
  padding: 0;
  border-top: 18px solid #90A1F7;
  height: 10px;
  width: 8px;
}

#ID1544152972child .C1_cabr_4 {
  margin: 0;
  padding: 0;
  border-top: 14px solid #F77B6E;
  height: 14px;
  width: 8px;
}

#ID1544152972child .C1_cabr_5 {
  margin: 0;
  padding: 0;
  border-top: 10px solid #FFE766;
  height: 18px;
  width: 8px;
}

#ID1544152972child .C1_cabr_6 {
  margin: 0;
  padding: 0;
  border-top: 7px solid #DB640A;
  height: 21px;
  width: 8px;
}

#ID1544152972child .C1_explanation_item {
  font-family: "微软雅黑";
  font-weight: normal;
  line-height: 19px;
  margin: 0;
  padding: 0;
  /* border-top: 1px solid #019098; */
}

#ID1544152972child .C1_explanation_box {
  font-family: Monaco, "微软雅黑" !important;
  font-size: 11px;
  font-weight: normal;
  line-height: 19px;
  color: #C00000;
  background-color: #E6F7F8;
  min-height: 20px;
  margin: 0;
  padding: 8px 12px;
  border-radius: 3px;
}

#ID1544152972child .C1_item_number {
  height: 16px;
  line-height: 16px;
  margin-right: 5px;
  padding: 0;
  display: block;
  float: left;
}

#ID1544152972child .C1_item_number a {
  font-family: "PingFang SC", serif !important;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  height: 14px;
  color: #FFFFFF;
  background-color: #333333;
  margin-top: 2px;
  padding: 0;
  border: none;
  border-radius: 2px;
  display: block;
  float: left;
  width: 30px;
  text-align: center;
}

#ID1544152972child .C1_item_number a:hover {
  font-family: "PingFang SC", serif !important;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  height: 14px;
  color: #FFFFFF;
  background-color: #333333;
  margin-top: 2px;
  padding: 0;
  border: none;
  border-radius: 2px;
  display: block;
  float: left;
  width: 30px;
  text-align: center;
}

#ID1544152972child .C1_explanation_label {
  font-family: "微软雅黑";
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  min-height: 18px;
  color: #000000;
  display: block;
}

#ID1544152972child .C1_explanation_box span.C1_text_blue {
  font-family: "微软雅黑";
  font-size: 12px;
  font-weight: normal;
  line-height: 19px;
  color: darkblue !important;
}

#ID1544152972child .C1_word_gram {
  font-family: "微软雅黑";
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  display: block;
  display: none;
}

#ID1544152972child .C1_explanation_item ul {
  line-height: 19px;
  margin: 7px 12px;
  padding: 0;
  list-style: none;
}

#ID1544152972child .C1_explanation_item ul li {
  font-family: "微软雅黑";
  font-weight: normal;
  line-height: 19px;
  margin: 0;
  padding: 2px 0;
}

#ID1544152972child .C1_explanation_item ul li p {
  font-family: Monaco, "微软雅黑" !important;
  font-size: 12px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  margin: 0;
  padding: 0;
}

#ID1544152972child .C1_explanation_item ul li p.C1_sentence_en {
  color: #000000;
  font-size: 11px;
}

#ID1544152972child .C1_en_tip {
  background-color: #F6F6F6;
  padding: 8px;
  margin: 10px 12px;
  border: 1px dotted #000000;
  font-family: Monaco, serif !important;
  font-size: 11px !important;
}

#ID1544152972child .C1_en_tip p {
  font-family: "微软雅黑";
  font-size: 12px;
  font-weight: normal;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

#ID1544152972child .C1_en_tip p:first-child {
  font-family: "微软雅黑";
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  margin: 0;
  padding: 0 0 5px 0;
}

#ID1544152972child .C1_explanation_item ul li.C1_en_tip {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #C00000;
  background-color: #F6F6F6;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

#ID1544152972child .C1_explanation_item ul li.C1_en_tip .C1_text_blue {
  font-size: 13px;
  font-weight: normal;
  color: darkblue !important;
}

#ID1544152972child .C1_explanation_item ul ul.C1_vli {
  margin: 3px 0 0 0;
  padding: 0;
  list-style: none;
}

#ID1544152972child .C1_explanation_item ul ul.C1_vli li {
  margin: 0;
  padding: 0;
}

#ID1544152972child .C1_explanation_item ul ul.C1_vli li p {
  font-family: "微软雅黑";
  font-size: 12px;
  font-weight: normal;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

#ID1544152972child .C1_explanation_item ul ul.C1_vli li p.C1_sentence_en {
  font-family: Monaco, "微软雅黑" !important;
  font-size: 11px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  margin: 0;
  padding: 0;
}

#ID1544152972child .C1_sentence_en {
  font-family: Monaco, "微软雅黑" !important;
  font-size: 11px !important;
}

#ID1544152972child .C1_sentence_en .C1_text_blue {
  color: darkblue !important;
}

#ID1544152972child .C1_part_list {
  line-height: 19px;
  background-color: #FFEEDD;
  margin: 0;
  padding: 8px 12px;
  border-top: 1px solid #019098;
}

#ID1544152972child .C1_part_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#ID1544152972child .C1_part_list ul li {
  color: #000000;
  margin: 2px 0;
  padding: 0;

}

#ID1544152972child .C1_part_list ul li a {
  font-family: "微软雅黑";
  font-size: 12px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  display: block;
}

#ID1544152972child .C1_part_list ul li a:hover {
  color: #C00000;
  background: url(arrow_down.png) no-repeat right center;
}

#ID1544152972child .C1_break_bar {
  height: 22px;
  line-height: 24px;
  margin: 20px 0 0 0;
  border-bottom: 1px solid #019098;
  overflow: hidden;
}

#ID1544152972child .C1_break_bar_angle {
  display: block;
  float: right;
  border-right: 25px solid #019098;
  border-top: 25px solid #FFFFFF;
}

#ID1544152972child .C1_part_list_d {
  height: 22px;
  color: #000000;
  background-color: #019098;
  margin: 0;
  padding: 0;
  float: right;
}

#ID1544152972child .C1_part_list_d a {
  height: 22px;
  margin: 0;
  padding: 0 15px;
  display: block;
}

#ID1544152972child .C1_part_number {
  font-family: Arial, "Times New Roman";
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  height: 22px;
  color: #FFFFFF;
  margin-right: 5px;
  display: block;
  float: left;
}

#ID1544152972child .C1_part_list_d a:hover {
  background: url(arrow_up.png) no-repeat center center;
}

#ID1544152972child .C1_part_list_d a:hover span {
  position: relative;
  left: -100000px;
}

#ID1544152972child #C1_menu_1 .C1_explanation_item:first-child, #ID1544152972child #C1_menu_2 .C1_explanation_item:first-child, #ID1544152972child #C1_menu_3 .C1_explanation_item:first-child, #ID1544152972child #C1_menu_4 .C1_explanation_item:first-child, #ID1544152972child #C1_menu_5 .C1_explanation_item:first-child, #ID1544152972child #C1_menu_6 .C1_explanation_item:first-child, #ID1544152972child #C1_menu_7 .C1_explanation_item:first-child {
  border: none;
}

#ID1544152972child dl.phrasal_verb_box {
  margin: 0;
  padding: 0;
}

#ID1544152972child dl.phrasal_verb_box dt {
  font-family: "微软雅黑";
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  margin-bottom: 2px;
  padding: 0;
}

#ID1544152972child dl.phrasal_verb_box dd {
  margin: 0;
  padding: 0;
}

#ID1544152972child dl.phrasal_verb_box dd a.C1_explain {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: blue;
  padding-right: 5px;
}

#ID1544152972child dl.phrasal_verb_box dd a:hover {
  color: #C00000;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

#ID1544152972child .C1_vExplain_r {
  font-weight: normal;
  line-height: 19px;
  background-color: #F6F6F6;
  margin: 8px 12px;
  padding: 8px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

#ID1544152972child .C1_vExplain_r ul {
  margin: 3px 0 0 0;
  padding: 0;
  list-style: none;
}

#ID1544152972child .C1_vExplain_r ul li {
  margin: 0;
  padding: 0;
}

#ID1544152972child .C1_vExplain_r ul li p {
  font-family: "微软雅黑";
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  margin: 0;
  padding: 0;
}

#ID1544152972child .C1_vExplain_r b.C1_text_blue {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #C00000;
}

#ID1544152972child .C1_vExplain_s {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  background-color: #F6F6F6;
  margin: 10px 12px;
  padding: 8px;
  border: 1px dotted #000000;
}

#ID1544152972child .C1_vEn_tip {
  background-color: #F6F6F6;
  color: #C00000;
  margin: 8px 12px 10px 12px;
  padding: 8px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

#ID1544152972child .C1_vEn_tip p {
  font-family: "微软雅黑";
  font-size: 11px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  margin: 5px 0 0 0;
  padding: 0;
}

#ID1544152972child strong.C1_text_gray {
  font-size: 15px;
  font-weight: normal;
  color: #C00000;
}

#ID1544152972child .C1_seealso {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
}

#ID1544152972child .C1_text_blue a.C1_explain {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: blue;
  padding-left: 5px;
}

#ID1544152972child .C1_text_blue a.C1_explain:hover {
  color: #C00000;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

#ID1544152972child .C1_see_other_box {
  font-family: Arial, "Times New Roman";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  background-color: #F6F6F6;
  margin: 10px 12px;
  padding: 8px;
  border: 1px dotted #000000;
}

#ID1544152972child .C1_see_other_word {
  font-family: Arial, "Times New Roman";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  margin: 0;
  padding: 1px 0;
}

#ID1544152972child .C1_see_label {
  font-family: Monaco, "Times New Roman";
  font-size: 11px;
  font-weight: normal;
  line-height: 19px;
  color: #C00000;
  margin-right: 5px;
  margin-left: 5px;
}

#ID1544152972child .C1_plus_character {
  font-family: Arial, "Times New Roman";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
}

#ID1544152972child .C1_inline_word {
  color: darkblue;
}

#ID1544152972child .C1_seealso_2 {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  margin: 0 5px;
}

#ID1544152972child .C1_see_usage {
  font-family: "微软雅黑";
  line-height: 19px;
  color: #000000;
}

#ID1544152972child .C1_seeusage_2 {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  margin-left: 5px;
}

#ID1544152972child .C1_seeusage_3 {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
  margin-left: 5px;
}

#ID1544152972child .C1_text_gray {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
}
