/* C:\Users\Administrator\AppData\Roaming\Francochinois\eudic\tmp\_mdx_1_1143082667 */
/* 牛津高阶英汉双解词典（第9版） */
@font-face {
    font-family: 'oalecd9';
    src: url('oalecd9.ttf');
    font-weight: 400;
    font-style: normal;
}

body #ID1143082667child {
    font-family: Monaco, SimSun !important;
    font-size: 80%;
}

body #ID1143082667child eudic_compact_remove {
    background-color: #fffefe;
    font-family: Monaco, 'oalecd9';
    counter-reset: sn_blk_counter;
}

#ID1143082667child .cixing_part {
    counter-reset: sn_blk_counter;
}

#ID1143082667child .cixing_tiaozhuan_part {
    display: inline;
    color: #c70000;
}

#ID1143082667child .cixing_tiaozhuan_part a:link {
    text-decoration: none;
    font-weight: 600;
}

#ID1143082667child .cixing_tiaozhuan_part a {
    color: #c70000;
}

#ID1143082667child h {
    font-weight: 600;
    color: #323270;
    font-size: 22px;
}

#ID1143082667child boxtag {
    font-size: 9px;
    font-weight: 600;
    border-style: solid;
    color: #fff;
    background-color: blue;
    border-color: blue;
    border-width: 1px;
    margin-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}

#ID1143082667child boxtag[type='awl'] {
    font-size: 9px;
    font-weight: 600;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    background-color: #000;
    border-color: #000;
    padding-left: 1px;
    padding-right: 1px;
    border-top: 0;
    border-bottom: 0;
}

#ID1143082667child vp-gs {
    display: none;
}

#ID1143082667child pron-g-blk {
    display: inline;
}

#ID1143082667child top-g {
    display: block;
}

#ID1143082667child pron-g-blk brelabel {
    padding-left: 4px;
    font-size: 14px;
}

#ID1143082667child pron-g-blk namelabel {
    padding-left: 4px;
    font-size: 14px;
}

#ID1143082667child pos xhtml_a {
    display: table;
    color: #fff;
    font-weight: 600;
    padding-left: 2px;
    padding-right: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-top: 0;
    border-bottom: 0;
    border-color: #c70000;
    background-color: #c70000;
}

#ID1143082667child vpform {
    color: #9b9b9b;
}

#ID1143082667child vp-g {
    display: block;
    padding-left: 12px;
}

#ID1143082667child sn-blk {
    display: block;
}

: #ID1143082667child
not

(
idm-g

)
sn-gs sn-blk::before {
    padding-right: 4px;
    counter-increment: sn_blk_counter;
    content: counter(sn_blk_counter);
}

: #ID1143082667child
not

(
id-g

)
sn-gs sn-blk::before {
    padding-right: 4px;
    counter-increment: sn_blk_counter;
    content: counter(sn_blk_counter);
}

#ID1143082667child def {
    font-weight: 600;
}

#ID1143082667child xsymb {
    display: none;
}

#ID1143082667child xhtml_br {
}

#ID1143082667child x-g-blk {
    display: block;
    border-left: 3px solid #dbdbdb;
    margin-left: 8px;
    padding-left: 10px;
}

#ID1143082667child x-g-blk x::before {
    content: '•';
    margin-right: 3px;
}

#ID1143082667child x-g-blk x {
    color: #3784dd;
}

#ID1143082667child x-g-blk x chn {
    padding-left: 0px;
    font-style: normal;
    color: #666666;
}

#ID1143082667child top-g xhtml_br {
    display: none;
}

#ID1143082667child cf-blk {
    font-weight: 600;
    color: #2b7dca;
    padding-right: 4px;
}

#ID1143082667child xr-gs {
    display: block;
}

#ID1143082667child xr-g-blk a:link {
    text-decoration: none;
    color: #a52a2a;
    font-weight: 600;
}

#ID1143082667child def + x-gs cf-blk {
    font-weight: 600;
    color: #2b7dca;
    display: block;
}

#ID1143082667child shcut-blk {
    margin-top: 14px;
    display: block;
    border-bottom: 1px solid #a0a0a0;
    padding-bottom: 5px;
}

#ID1143082667child gram-g {
    font-weight: 600;
    color: #04b92b;
}

#ID1143082667child unbox {
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 10px;
    border: 1px solid red;
    border-radius: 3px;
}

#ID1143082667child unbox title {
    display: none;
}

#ID1143082667child unbox inlinelist {
    display: inline;
}

#ID1143082667child unbox inlinelist und {
    font-weight: 600;
    color: #03648a;
}

#ID1143082667child unbox unsyn {
    display: block;
    font-weight: 600;
    color: #1a4781;
}

#ID1143082667child unbox x-g-blk {
    display: block;
}

#ID1143082667child unbox x-g-blk x::before {
    content: '•';
    padding-right: 6px;
}

#ID1143082667child unbox h3 {
    color: #36866a;
    margin-bottom: 4px;
    margin-top: 6px;
}

#ID1143082667child unbox eb {
    font-weight: 600;
}

#ID1143082667child pron-g-blk a:link {
    text-decoration: none;
}

#ID1143082667child audio-gbs-liju,
#ID1143082667child audio-gb-liju,
#ID1143082667child audio-brs-liju,
#ID1143082667child audio-gb {
    padding-right: 4px;
    color: blue;
    opacity: 0.8;
    display: none;
}

#ID1143082667child audio-uss-liju,
#ID1143082667child audio-ams-liju,
#ID1143082667child audio-us-liju,
#ID1143082667child audio-us {
    padding-right: 4px;
    color: #af0404;
    opacity: 0.8;
    display: none;
}

#ID1143082667child a:link {
    text-decoration: none;
}

#ID1143082667child eb {
    font-weight: 600;
}

#ID1143082667child idm-gs un {
    display: block;
    color: #7c7070;
}

#ID1143082667child idm-blk idm {
    padding-top: 12px;
    display: block;
    font-weight: 600;
    color: #010102;
}

#ID1143082667child idm-g def {
    font-weight: 500;
}

#ID1143082667child idm-g sn-blk::before {
    color: #6f49c7;
    content: '★';
    margin-right: 3px;
}

#ID1143082667child pv-g def {
    font-weight: 500;
}

#ID1143082667child label-g-blk {
    color: #797979;
}

#ID1143082667child pv-blk pv {
    padding-top: 12px;
    display: block;
    font-weight: 600;
    color: #1881e4;
}

#ID1143082667child unbox ul li {
    list-style-type: square;
}

#ID1143082667child unbox x-gs {
    display: block;
    margin-left: 8px;
    padding-left: 10px;
}

#ID1143082667child unbox x-gs chn {
}

#ID1143082667child img {
    display: block;
    max-width: 100%;
}

#ID1143082667child .big_pic {
    display: none;
    max-width: 100%;
}

#ID1143082667child .switch_ec {
    display: none;
}

#ID1143082667child if-gs-blk {
    display: inline;
}

#ID1143082667child if-gs-blk form {
    display: inline;
}

#ID1143082667child unbox[type='wordfinder'] xr-gs {
    display: inline;
}

#ID1143082667child unbox[type='wordfinder']::before {
    border: 1px solid;
    border-radius: 2px;
    position: relative;
    top: -4px;
    font-size: 18px;
    color: #af1919;
    font-weight: 600;
    content: 'WordFinder';
    background-color: #fff;
    padding: 5px 7px;
    left: -4px;
}

#ID1143082667child unbox[type='colloc']::before {
    border: 1px solid;
    border-radius: 2px;
    position: relative;
    top: -4px;
    left: -4px;
    font-size: 18px;
    color: #af1919;
    font-weight: 600;
    content: 'Collocations 词语搭配';
    background-color: #fff;
    padding: 5px 7px;
}

#ID1143082667child unbox[type='wordfamily'] {
    display: block;
    float: right;
}

#ID1143082667child unbox[type='wordfamily'] wfw-g {
    display: block;
}

#ID1143082667child unbox[type='wordfamily'] wfw-g wfw-blk {
    color: #101095;
    font-weight: 600;
}

#ID1143082667child unbox[type='wordfamily'] wfw-g wfo {
    font-weight: 600;
}

#ID1143082667child unbox[type='wordfamily'] wfw-g wfp-blk wfp {
    color: #971717;
    font-weight: 500;
}

#ID1143082667child unbox[type='wordfamily']::before {
    border: 1px solid;
    border-radius: 6px;
    position: relative;
    top: -24px;
    left: 18px;
    font-size: 18px;
    color: #af1919;
    font-weight: 600;
    content: 'WORD FAMILY';
    background-color: #fff;
    padding: 5px 7px;
}

#ID1143082667child unbox[type='grammar']::before {
    border: 1px solid;
    border-radius: 6px;
    position: relative;
    top: -24px;
    left: 18px;
    font-size: 18px;
    color: #af1919;
    font-weight: 600;
    content: 'GRAMMAR 语法';
    background-color: #fff;
    padding: 5px 7px;
}

#ID1143082667child unbox[type='grammar'] {
    margin-top: 36px;
}

#ID1143082667child unbox[type='grammar'] x-gs {
    padding-left: 0;
    margin-left: 0;
}

#ID1143082667child unbox ul {
    margin-top: 4px;
}

#ID1143082667child use-blk {
    color: #0b8a0b;
}

#ID1143082667child dis-g xr-gs {
    display: inline;
}

#ID1143082667child xr-gs[firstinblock='n'] {
    display: inline;
}
