/* /Applications/Eudic.app/Contents/Library/LoginItems/LightPeek_en.app/Contents/Resources/Html/style.css */

/* @group Page */
body,
td,
th {
  color: #4E4E4E !important;
  overflow: auto !important;
  font-size: 10pt;
  font-family: "PingFang SC", sans-serif !important;
}

body {
  margin: 0px;
  background-color: #FFFFFF;
}

@font-face {
  font-family: KK;
  src: url('kk.ttf');
}

@font-face {
  font-family: Kingsoft Phonetic Plain;
  src: url('kingsoft.ttf');
}

@font-face {
  font-family: BlueIpa;
  src: url('Ipa.ttf');
  font-style: normal;
  font-weight: normal;
}

a:link {
  text-decoration: none;
  color: #006699;
}

a:visited {
  text-decoration: none;
  color: #006699;
}

a:hover {
  text-decoration: none;
  color: #006699;
}

.lft {
  float: left;
}

.rgt {
  float: right;
}

.wclear:after {
  clear: both;
  display: table;
  content: '';
}

/*高亮使用*/
strike {
  text-decoration: none;
}

#expBody {
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-top: 15px !important;
  -webkit-margin-top-collapse: separate;
  -webkit-margin-bottom-collapse: separate;
  padding: 0;
  display: block;
}

.explain_wrap {
  line-height: 140%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.explain_wrap_styleless {
  padding-top: 15px;
  padding-bottom: 15px;
}

.expDiv {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #DDDDDD;
}

.explain_wrap h1 {
  font-weight: bold;
  font-size: 110%;
}

.explain_wrap h2 {
  font-weight: bold;
  font-size: 110%;
  font-style: italic;
}

.explain_wrap h3 {
  font-weight: bold;
  font-size: 110%;
  color: #3366FF;
}

.explain_wrap h4 {
  font-weight: bold;
  font-size: 110%;
  color: #006600;
}

.explain_wrap h5 {
  margin-bottom: 2px;
  font-weight: bold;
  color: gray;
}

.explain_wrap ul,
.explain_wrap li,
.explain_wrap ol {
  margin-left: 15px;
  padding-left: 0px;
}

.spellHint {
  margin: 15px 0 5px 0;
  color: #9C9C9C;
}

.expHead {
  font-weight: bold;
  clear: both;
  line-height: 140%;
  overflow: hidden;
}

.expHead a {
  display: flex;
  align-items: center;
}

#CustomNote {
  display: none;
}

#CustomNote button {
  background: #C0E8FF;
  border: 1px solid #7395C6;
}

#CustomNote .expHead a {
  display: inline-block;
  margin-top: 12px;
}

#CustomNote .expHead .rgt {
  float: none;
}

.expHead img {
  border: 0px;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#phondiv {
  line-height: 140%;
}

#phondiv > a > img {
  position: relative;
  top: 2px;
}

#phondiv > a {
  margin-right: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 5px 10px 4px;
}

#cgListDiv {
  background-image: url(cg_list.png);
  background-repeat: no-repeat;
  padding-left: 50px;
  min-height: 32px;
  margin: 15px 0 35px 0;
}

#cgInfoDiv {
  background-image: url(category.gif);
  background-repeat: no-repeat;
  padding-left: 40px;
  min-height: 30px;
}

#cgTipDiv {
  background-image: url(tip.gif);
  background-repeat: no-repeat;
  padding-left: 40px;
  min-height: 30px;
}

#annoDiv {
  background-image: url(annotation.jpg);
  background-repeat: no-repeat;
  padding-left: 40px;
  min-height: 30px;
  color: #999999;
}

#studyDiv {
  color: Gray;
}

#DicFFChild {
  color: #0000FF;
}

.customNoteChild {
  min-height: 40px;
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 5px;
  word-wrap: break-word;
}

.customeNoteImage img {
  padding: 5px 5px 5px 0;
}

/* @end */
/* @group Banner */
#dic_banner {
  /* background-color: #4c93d9; */
  /* color: #FFFFFF; */
  color: #FFFFFF;
  font-size: 20px;
  text-indent: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}

.dic_banner_RightText {
  display: none;
  font-size: 18pt;
  float: right;
  padding-right: 5px;
  color: #EFF2F5;
  font-style: italic;
}

#cg_banner {
  background-color: #FF9327;
  color: #FFFFFF;
  font-size: 20px;
  text-indent: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}

.cg_banner_RightText {
  font-size: 18pt;
  color: #FFD5AA;
  padding-right: 5px;
  float: right;
  font-style: italic;
}

#ref_banner {
  background-color: #68CE3E;
  color: #FFFFFF;
  font-size: 20px;
  text-indent: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}

.ref_banner_RightText {
  font-size: 18pt;
  font-weight: bold;
  color: #CAEEBB;
  float: right;
  font-style: italic;
  padding-right: 5px;
}

.cg_noFound {
  padding-left: 30px;
  padding-top: 5px;
  background: url(alert.png) no-repeat;
}

/* @end */
/* @group ExpDecoration */
.explain_wrap #phrase I {
  color: #009933;
  font-weight: bold;
}

.explain_wrap .txtDisabled {
  color: #999999;
}

.explain_wrap .grayTxt {
  color: #999999;
}

.explain_wrap .tip {
  color: gray;
  font-size: small;
}

.explain_wrap .blueTxt {
  color: #5C85FF;
}

.Phonitic {
  color: #0000FF;
  font-family: Monaco, serif !important;
  font-size: 10pt;
  color: gray;
}

.Phonitic-Sep {
  color: teal;
  font-family: Arial;
  margin-left: 3px;
}

.Phonitic-Sep b {
  font-weight: normal;
}

/*全球发音*/
.gv_content {
  width: 360px;
  position: absolute;
  top: 25px;
  left: -35px;
  background-color: #FFFFFF;
  z-index: 9999;
  border: 1px solid #E8E8E8;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #EFEFEF;
}

.gv_content .gv_arrtop,
.gv_content .gv_arrtopSide {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #DDDDDD;
  top: -20px;
  left: 30px;
}

.gv_content .gv_arrtopSide {
  border-bottom-color: #FFFFFF;
  top: -19px;
}

.gv_content .voice-button {
  margin: 0;
  width: 17px;
  height: 17px;
  vertical-align: text-bottom;
}

.gv_content .gv_title {
  position: relative;
  border-bottom: 1px solid #F0EFEF;
  padding: 0 12px;
}

.gv_content .gv_count {
  font-style: normal;
}

.gv_content .gv_title p {
  margin: 5px 0;
}

.gv_content .gv_button {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(speak.png) center center no-repeat;
  background-size: 100% auto;
}

.gv_content .gv_close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -9px;
  right: -1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
  font-size: 25px;
}

.gv_content .gv_close:hover {
  color: #82BBFF;
  text-decoration: none;
}

.gv_content .gv_details {
  margin: -1px 12px 0 12px;
}

.gv_content .gv_item {
  border-top: 1px solid #F0EFEF;
  padding: 12px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.gv_content .gv_item .like {
  background: url("global.png") 0 -60px no-repeat;
}

.gv_content .gv_item .disLike {
  background: url("global.png") 0px -75px no-repeat;
}

.gv_content .gv_item .likeItem a {
  margin-right: 10px;
  padding-left: 20px;
  width: 25px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.gv_content .gv_item .likeItem[data-show=false]:hover .like {
  background: url("global.png") 0 -30px no-repeat;
}

.gv_content .gv_item .likeItem[data-show=false]:hover .disLike {
  background: url("global.png") 0 -45px no-repeat;
}

.gv_content .gv_item .likeItem[data-show=true] .like {
  background: url("global.png") 0 -30px no-repeat;
}

.gv_content .gv_item .likeItem[data-show=true] .disLike {
  background: url("global.png") 0 -45px no-repeat;
}

.gv_content .gv_person,
.gv_contury {
  margin-left: 15px;
}

.gv_content .gv_contury {
  flex: 1;
}

.timeLabel {
  FONT-WEIGHT: bold;
  FONT-SIZE: 12px;
  COLOR: #999999;
  BORDER-BOTTOM: #E0E0E0 1px dashed;
  margin-left: -7px;
}

.RssTitle {
  FONT-SIZE: 14px;
  line-height: 130%;
  padding-top: 5px;
}

.RSScopyright {
  text-align: right;
  color: #999999;
}

.HighLightCG {
  color: #0000FF;
  background-color: #FFFF00;
}

.SepecificDic {
  color: #999999;
}

.RssTitle {
  font-size: 15px;
  font-weight: bold;
}

.FullTxtHighLight {
  color: #CC0033;
  background-color: #FFFF00;
  font-weight: bold;
}

.explain_wrap .cara {
  color: #1C6FB8;
  font-weight: bold;
}

.explain_wrap .trans {
  font-style: italic;
  color: #1C6FB8;
}

.explain_wrap .exp {
  color: #3E3E3E;
}

.explain_wrap .exp ol li {
  padding-top: 8px;
}

.explain_wrap .exp ul li {
  padding-top: 2px;
}

.explain_wrap .syno {
  color: #FF0000;
}

.explain_wrap .eg {
  color: #238E68;
}

/*搜索高亮（包括扩充词库）*/
.highlight {
  -webkit-box-shadow: 1px 1px 1px #999999;
  background: #DEDEDE;
  padding: 2px 4px;
  -webkit-border-radius: 2px;
}

.cur-highlight {
  -webkit-box-shadow: 2px 2px 2px #999999;
  padding: 2px 4px;
  -webkit-border-radius: 3px;
  color: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.04, #EDD100), color-stop(0.52, #F1ED00));
}

.eudicCgTip {
  line-height: 1.5;
  padding: 8px 0 8px 4px;
}

.explain_wrap .sentence li {
  margin-top: 7px;
}

.explain_wrap .sentence .exp {
  color: Gray;
}

.explain_wrap .sentence .key {
  color: #266EFE;
}

#word-thumbnail-image {
  overflow: hidden;
  float: right;
}

.word-thumbnail-image {
  margin: 20 10 0 20;
  padding: 10px;
  line-height: 100px;
  min-height: 60px;
  max-height: 100px;
  border: 1px #D8D8D8 solid;
}

/* @end */
/* @group FF Explain */
.explain_wrap .DEFINITION {
  color: black;
}

.explain_wrap .DEFINITION i {
  color: #205FB8;
}

.explain_wrap .DEFINITION li {
  color: #205FB8;
}

/* @end */
/* @group TresorFr */
.explain_wrap .tlf_color0 {
  background-color: #FF9090;
}

.explain_wrap .tlf_color1 {
  background-color: #C0FFC0;
}

.explain_wrap .tlf_color2 {
  background-color: #D0D0FF;
}

.explain_wrap .tlf_color3 {
  background-color: #FFFF00;
}

.explain_wrap .tlf_color4 {
  background-color: #FFB060;
}

.explain_wrap .tlf_color5 {
  background-color: #00FFFF;
}

/* @end */
/* @group Translation */
.trans_text_wrap {
  margin: 20px;
}

.trans_text_wrap textarea {
  width: 100%;
  border-color: #C7E0FE;
}

#trans_text_wrap input[type=button],
#trans_langsel input[type=button] {
  background: #C0E8FF;
  border: 1px solid #7395C6;
}

#trans_langsel {
  text-align: center;
}

#lang-swap {
  font: bold 13px sans-serif;
  background-color: #3F7BFC;
  color: white;
  border: 1px solid #62A6FC;
  margin-right: 2px;
  margin-left: 2px;
  cursor: hand;
  border-radius: 4px;
  padding: 0 1px 2px 3px;
}

#lang-swap:active {
  background-color: #2851AA;
}

/* @end */
/* @group Study Star */
.five-star-level {
  display: none;
  text-align: center;
  margin: 15px auto 0px;
  /* width: 125px; */
  height: 40px;
  font-size: 12px;
  color: #707070;
  position: relative;
}

.five-star-level .tips {
  position: absolute;
  top: 5px;
  left: 250px;
  color: #9C9C9C;
}

.star-level-title {
  margin-top: 5px;
  margin-left: 15px;
  color: #9C9C9C;
}

.five-star-level-choose {
  background: url(starGhost.png) center center repeat-x;
  background-size: 25px auto;
  height: 25px;
  width: 125px;
  margin-left: 100px;
}

.five-star-level .studyCatPicker {
  width: 25px;
  height: 25px;
  display: none;
  position: absolute;
  left: 75px;
  top: 0;
  border: none !important;
  cursor: pointer;
  background: url(starGroup.png) 4px 7px no-repeat;
  background-size: 16px 15px;
}

#J_LevelChooseDefaultTips {
  clear: both;
}

.ifShow {
  display: none;
  background: url("arrow.png") no-repeat;
  background-size: auto 100%;
  margin-left: 15px;
  text-indent: 24px;
  margin-bottom: 20px;
  margin-top: 5px;
  cursor: pointer;
  color: #006699;
}

@-webkit-keyframes changeLevelSuccessShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#J_LevelChooseSuccessTips {
  display: none;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-iteration: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.five-star-level-selected {
  position: absolute;
  top: 0;
  left: 100px;
  width: 125px;
  height: 25px;
  cursor: pointer;
}

.five-star-level-selected .level1,
.five-star-level-selected .level2,
.five-star-level-selected .level3,
.five-star-level-selected .level4,
.five-star-level-selected .level5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  opacity: 0;
  background: url(star.png) center center no-repeat;
  background-size: 25px auto;
  cursor: hand;
  -webkit-transition: all 500ms ease-out 0ms;
}

.five-star-level-selected .level2 {
  left: 25px;
}

.five-star-level-selected .level3 {
  left: 50px;
}

.five-star-level-selected .level4 {
  left: 75px;
}

.five-star-level-selected .level5 {
  left: 100px;
}

/* @end */
/* @group InstantSearch */
#instantReturnHint {
  margin: 5px;
}

#instantReturnHint b {
  vertical-align: middle;
  padding-left: 15px;
}

#instantTranslation {
  margin-top: 10px;
}

#instantTranslation .transResult {
  border: 1px dashed #CDCDCD;
  background-color: #FDF9BF;
  margin: 15px;
  padding: 15px;
  color: #525252;
}

#instantTranslation .rightAlignLink {
  margin-top: 20px;
  text-align: right;
}

/* @end */
/* Babylon dictionaries */
.bgltrn:before {
  content: "[";
}

.bgltrn:after {
  content: "]";
}

.bgltrn {
  display: block;
}

/* Part of speech in Babylon dictionaries. Usually irrelevant,
 * therefore hidden */
.bglpos {
  display: none;
}

/* Right-to-left text */
.bglrtl {
  text-align: right;
  direction: rtl;
}

/* @end */
/*综合变位界面*/
#cg_table {
  display: block;
}

.clear {
  clear: both;
}

#cg_table ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

#cg_table ul li {
  overflow: hidden;
  margin: 0;
}

#cg_table ul li.title {
  border: 0;
  color: #FFFFFF;
}

#cg_table ul li p {
  display: block;
  float: left;
  padding: 16px 0;
  font-size: 14px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

#cg_table ul li span.lang {
  display: block;
  font-size: 13px;
}

#cg_table ul li p.first {
  width: 110px;
  padding: 16px 4px 16px 12px;
}

#cg_table .table-col {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 0px;
}

#cg_table .table-col > ul > li.info-col {
  display: flex;
}

#cg_table ul li .info-col {
  display: block;
  overflow: hidden;
  margin-left: 126px;
}

#cg_table .table-col .info-col p {
  margin-left: -1px;
}

#cg_table .table-col-2 .info-col p {
  width: 46%;
  padding: 16px 2%;
}

#cg_table .table-col-3 .info-col p {
  width: 29.33%;
  padding: 16px 2%;
}

#cg_table .table-col-4 .info-col p {
  width: 21%;
  padding: 16px 2%;
}

#cg_table .lightBaGround {
  background: #F5FAFF;
}

#cg_table.cg_de ul li.title {
  border-right: 1px solid #2F9F13;
  border-left: 1px solid #2F9F13;
}

#cg_table.cg_de ul li {
  border-right: 1px solid #A0EBA6;
  border-left: 1px solid #A0EBA6;
}

#cg_table.cg_de ul li.title {
  background: #2F9F13;
}

#cg_table.cg_de ul li.normal-item .first {
  background: #F3FFF0;
}

#cg_table.cg_de .table-col {
  border-bottom: 1px solid #A0EBA6;
}

#cg_table.cg_de ul li .info-col {
  border-left: 1px solid #A0EBA6;
}

#cg_table.cg_de .table-col .info-col p {
  border-left: 1px solid #A0EBA6;
}

#cg_table.cg_es ul li.title {
  border-right: 1px solid #C9415B;
  border-left: 1px solid #C9415B;
}

#cg_table.cg_es ul li {
  border-right: 1px solid #FFC1C1;
  border-left: 1px solid #FFC1C1;
}

#cg_table.cg_es ul li.title {
  background: #C9415B;
}

#cg_table.cg_es ul li.normal-item .first {
  background: #FEE7ED;
}

#cg_table.cg_es .table-col {
  border-bottom: 1px solid #FFC1C1;
}

#cg_table.cg_es ul li .info-col {
  border-left: 1px solid #FFC1C1;
}

#cg_table.cg_es .table-col .info-col p {
  border-left: 1px solid #FFC1C1;
}

#cg_table.cg_fr {
  color: #177BA7;
}

#cg_table.cg_fr ul li.title {
  border-right: 1px solid #4783C2;
  border-left: 1px solid #4783C2;
}

#cg_table.cg_fr ul li {
  border-right: 1px solid #A8C9D7;
  border-left: 1px solid #A8C9D7;
}

#cg_table.cg_fr ul li.title {
  background: #4783C2;
}

#cg_table.cg_fr .table-col {
  border-bottom: 1px solid #A8C9D7;
}

#cg_table.cg_fr ul li .info-col {
  border-left: 1px solid #A8C9D7;
}

#cg_table.cg_fr .table-col .info-col p {
  border-left: 1px solid #A8C9D7;
}

/* mobile */
#cg_table.mobile ul li p.first {
  width: 80px;
  padding: 16px 4px;
}

#cg_table.cg_es.mobile ul li p.first {
  width: 90px;
  padding: 16px 4px;
}

#cg_table.mobile .table-col-2 .info-col p {
  width: 46%;
  padding: 16px 1% 16px 3%;
}

#cg_table.mobile ul li .info-col {
  margin-left: 88px;
}

#cg_table.cg_es.mobile ul li .info-col {
  margin-left: 98px;
}

#cg_table.cg_fr .lightBaGround {
  background-color: #FAF5FF;
}

#cg_table.cg_es .lightBaGround {
  background-color: #FFF6E8;
}

#cg_table.cg_de .lightBaGround {
  background-color: #FDFCE8;
}

.clear {
  clear: both;
}

/*原声例句*/
.lj_item {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 17px;
}

.lj_item .channel {
  float: left;
  cursor: pointer;
  text-align: left;
  position: relative;
  z-index: 8;
  height: 45px;
  top: 4px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.lj_item .channel img {
  height: 45px;
  border-radius: 2px;
}

.lj_item .channel_title {
  color: #9FA0A1;
  font-family: "微软雅黑", "黑体", sans-serif;
  font-size: 0;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  visibility: hidden;
  background: url('ting_play_tip.png') 0 0 no-repeat;
}

.lj_item .content {
  color: #969696;
  margin-left: 80px;
}

.lj_item .content .line {
  color: #32517D;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10px;
  line-height: 1.2;
  position: relative;
}

.lj_item .content .line a {
  margin-top: 0;
}

.lj_item .exp {
  color: #6D97B1;
  margin: 3px 0 0 0;
  line-height: 1.2;
}

.lj_item .key {
  color: #4D8CFF;
}

.line .voice-button {
  margin-left: 10px;
}

/* Lucene Full text*/
ul#lucene-list {
  padding-left: 18px;
  margin-left: 0px;
}

#lucene-list li {
  margin-bottom: 10px;
}

#lucene-list .lucene-highlight {
  display: block;
}

#lucene-list .lucene-highlight b,
.lucene-list .lucene-highlight b {
  background-color: #FFF4B6;
  color: #444444;
  font-weight: normal;
}

/*Tags Human Voices*/
.eudic_wordtag,
#dic_searchcount {
  color: #C3C3C3;
  display: inline-block;
  border: 1px solid #D8D8D8;
  font-size: 11px;
  line-height: 140%;
  padding: 0 3px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0px 0 2px 8px;
}

.globalVoiceLink {
  display: inline-block;
  display: none;
  background: url("earth_voice_icon.png") left 1.5px no-repeat;
  background-size: 15px auto;
  padding-left: 23px;
  margin-left: 5px;
  margin-right: 8px;
  position: relative;
  color: gray !important;
}

.explain_wrap .humanSpeak {
  width: 46px;
  height: 18px;
  margin-left: 12px;
  margin-bottom: -5px;
  cursor: pointer;
}

.explain_wrap .humanSpeak:before {
  content: " ";
}

.explain_wrap p.exp {
  margin-top: 5px;
}

.explain_wrap span.exp {
  display: block;
  margin-top: 5px;
}

.explain_wrap .tingSpeak {
  width: 16px;
  height: 16px;
  position: relative;
  left: 10px;
  top: 3px;
  cursor: pointer;
}

.fr_color {
  color: #2280BD;
}

.de_color {
  color: #0E8F07;
}

.es_color {
  color: #B82E00;
}

.dic_banner_en {
  background-color: #2280BD;
}

.dic_banner_fr {
  background-color: #2280BD;
}

.dic_banner_de {
  background-color: #0E8F07;
}

.dic_banner_es {
  background-color: #B82E00;
}

/* wiki */
.wiki-content .head-imgs-wiki {
  max-width: 1000px;
  margin: 0 auto 10px;
}

.wiki-content {
  padding-bottom: 2px;
}

.wiki-content .head-imgs-wiki .image-wrap img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #F3F3F3;
  /*cursor:pointer;*/
}

.wiki-content .head-imgs-wiki img {
  float: right;
}

.wiki-content .expDiv {
  line-height: 28px !important;
}

.wiki-content .image-wrap {
  width: 24%;
  height: 70px;
  float: left;
  overflow: hidden;
  position: relative;
}

.wiki-content .image-right {
  float: right;
  margin-left: 1.3333%;
}

@media (max-width: 1000px) {
  .wiki-content .image-wrap {
    height: 200px;
    background-size: 180px 180px;
  }
}

@media (min-width: 768px) {
  .wiki-content .image-wrap {
    height: 140px;
    background-size: 130px 130px;
  }
}

@media (min-width: 1000px) {
  .wiki-content .image-wrap {
    height: 180px;
    background-size: 160px 160px;
  }
}

@media (min-width: 1300px) {
  .wiki-content .image-wrap {
    height: 200px;
    background-size: 180px 180px;
  }
}

@media (max-width: 768px) {
  .wiki-content .image-wrap {
    height: 110px;
    background-size: 100px 100px;
  }
}

@media (max-width: 550px) {
  .wiki-content .image-wrap {
    height: 90px;
    background-size: 80px 80px;
  }
}

@media (max-width: 414px) {
  .wiki-content .image-wrap {
    height: 70px;
    background-size: 60px 60px;
  }
}

@media (max-width: 300px) {
  .wiki-content .image-wrap {
    height: 60px;
    background-size: 50px 50px;
  }
}

.wiki-content .image-wrap + .image-wrap {
  margin-left: 1.332%;
}

.wiki-content .mw-body-wikicontent {
  padding: 6px 0 0 0 !important;
}

.wiki-content .detail-link {
  margin-top: 12px;
  margin-left: -2px;
  text-align: center;
  clear: both;
}

.wiki-content .mw-body-wikicontent h1 {
  background: none !important;
  margin-bottom: 5px !important;
}

.wiki-content .detail-link a {
  color: #A6A6A6;
  display: inline-block;
  padding: 5px 9px;
  font-size: 12px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #E8E8E8;
  margin: 0 auto;
}

/*tiku*/
.eudic_tiku_topic p {
  margin: 0;
}

.eudic_tiku_topic .eudic_tiku_wordrepeat {
  color: #939393;
  font-size: 12px;
  margin: 0 0 12px 0;
}

.eudic_tiku_topic ol {
  margin: 0;
  font-size: 14px;
  list-style: none;
}

.explain_wrap .eudic_tiku_item {
  margin: 0 0 20px 0;
}

.explain_wrap .eudic_tiku_item:nth-last-child(1) {
  margin: 0;
}

.eudic_tiku_topic .eudic_tiku_question {
  display: block;
  line-height: 21px;
}

.eudic_tiku_question hl {
  color: #1191E6;
}

.eudic_tiku_question p {
  padding-left: 16px;
  position: relative;
}

.eudic_tiku_question count {
  position: absolute;
  left: 0;
}

.eudic_tiku_question span.resource {
  color: #686868;
  font-size: 12px;
  position: relative;
  top: -1px;
}

.eudic_tiku_answer {
  margin-top: 10px;
  margin-left: 20px;
}

.eudic_tiku_answer li {
  position: relative;
  padding-left: 24px;
  line-height: 21px;
  margin: 0;
  width: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.eudic_tiku_answer li.correct {
  color: #63B807;
}

.eudic_tiku_answer li.error {
  color: #D03C4F;
}

.eudic_tiku_topic ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.eudic_tiku_topic ul li:before {
  content: ' ';
  width: 14px;
  height: 14px;
  background: url('default/tiku_item_not_click@2x.png') center center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  position: absolute;
  left: 0px;
  top: 3px;
}

.eudic_tiku_topic ul li.clickThis:before {
  content: ' ';
  background: url('default/tiku_item_has_click@2x.png') center center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}

/*epwing dict*/
.explain_wrap_styleless .epwing_wide_font {
  width: 13px;
  height: 13px;
  vertical-align: -13%;
}

.explain_wrap_styleless .epwing_narrow_font {
  width: 7px;
  height: 13px;
  vertical-align: -13%;
}

body.green {
  background: #C7EDCC;
}

body.green #improveBtn {
  background-color: #C7EDCC;
}

body.green .linkTable {
  background-color: #C7EDCC;
}

/*置顶*/
#scrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
  display: none;
  opacity: 0.6;
  cursor: pointer;
}

#scrollToTop li {
  list-style: none;
}

#scrollToTop #topBtn a {
  width: 54px;
  height: 54px;
  display: inline-block;
  background: url("updown.gif") center -70px no-repeat;
}

#scrollToTop:hover {
  opacity: 1;
}

#scrollToTop:hover #topBtn a {
  background: url("updown.gif") center 0px no-repeat;
}

#eudic_wordtag_info {
  display: none;
}

#dic_searchcount {
  display: none;
}
