* {
    font-family: "LT", "LT", sans-serif !important;
}

.W_ficon {
    font-family: "wbficonregular", serif !important;
}

.glyphicon {
    font-family: 'Glyphicons Halflings', serif !important;
}

.bts {
    font-family: 'Black Tie', serif !important;
}

.fa,
i[class^=icon-],
span[class^=icon-],
span[class*=" icon-"],
i.icon.icon-lg,
.main-header .sidebar-toggle,
span.icon.icon-lg {
    font-family: "FontAwesome", serif !important;
}
