* {
    font-family: "宋体", "宋体", sans-serif !important;
}

.fa {
    font-family: "FontAwesome", serif !important;
}

.W_ficon {
    font-family: "wbficonregular", serif !important;
}

.glyphicon {
    font-family: 'Glyphicons Halflings', serif !important;
}

.bts {
    font-family: 'Black Tie', serif !important;
}

i[class^=icon-] {
    font-family: "FontAwesome", serif !important;
}

.main-header .sidebar-toggle {
    font-family: "FontAwesome", serif !important;
}

i.icon.icon-lg,
span.icon.icon-lg {
    font-family: "FontAwesome", serif !important;
}