* {
  font-family: "Microsoft YaHei", sans-serif !important;
}

.W_ficon {
  font-family: "wbficonregular", serif !important;
}

.glyphicon {
  font-family: "Glyphicons Halflings", serif !important;
}

.bts {
  font-family: "Black Tie", serif !important;
}

.fa,
i[class^="icon-"],
span[class^="icon-"],
span[class*=" icon-"],
i.icon,
.main-header .sidebar-toggle,
span.icon.icon-lg {
  font-family: "FontAwesome", serif !important;
}

.fas {
  font-family: FontAwesomeSite, sans-serif !important;
}

[class^="dicticon-"],
[class*=" dicticon-"]:before {
  font-family: "dictionary-fonticon", serif !important;
}

/* nexus repository manager*/
span.x-btn-glyph {
  font-family: "FontAwesome", serif !important;
}

/* onedrive */
.ms-Icon {
  font-family: FabricMDL2Icons, FabricMDL2Icons-0, FabricMDL2Icons-1,
    FabricMDL2Icons-2, FabricMDL2Icons-3, FabricMDL2Icons-4, FabricMDL2Icons-5,
    FabricMDL2Icons-6, FabricMDL2Icons-7, sans-serif !important;
}

/* vultr.com */
[class^="fonticon"] {
  font-family: "Material-Design-Iconic-Font", sans-serif !important;
}

/* developer.mozilla.org */
[class*=" ic-"],
[class^="ic-"] {
  font-family: compat-icons, serif !important;
}

/* google.com */
.material-icons {
  font-family: "Material Icons", serif !important;
}
