@font-face {
  font-family: "Source Sans Pro";
  src: local("宋体");
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("宋体");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("宋体");
  font-weight: 500;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("宋体");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("宋体");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: local("宋体");
}

@font-face {
  font-family: "Poppins";
  src: local("宋体");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("宋体");
}

@font-face {
  font-family: "Helvetica";
  src: local("宋体");
}

@font-face {
  font-family: "Arial";
  src: local("宋体");
}

@font-face {
  font-family: "Arial";
  src: local("宋体");
  font-weight: 400;
}

@font-face {
  font-family: "Arial";
  src: local("宋体");
  font-weight: 700;
}

@font-face {
  font-family: "微软雅黑";
  src: local("宋体");
}

@font-face {
  font-family: "Microsoft YaHei";
  src: local("宋体");
}

@font-face {
  font-family: "Tahoma";
  src: local("宋体");
}

@font-face {
  font-family: "Georgia";
  src: local("宋体");
}

@font-face {
  font-family: "SimSun";
  src: local("宋体");
}

@font-face {
  font-family: "Roboto";
  src: local("宋体");
}

@font-face {
  font-family: "Roboto";
  src: local("宋体");
}

@font-face {
  font-family: "Roboto";
  src: local("宋体");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local("宋体");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("宋体");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local("宋体");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: local("宋体");
  font-weight: 700;
}

@font-face {
  font-family: "RobotoDraft";
  src: local("宋体");
  font-weight: 500;
}

@font-face {
  font-family: "Times New Roman";
  src: local("宋体");
}

@font-face {
  font-family: "Segoe UI";
  src: local("宋体");
}

@font-face {
  font-family: "Verdana";
  src: local("宋体");
}

@font-face {
  font-family: "Lato";
  src: local("宋体");
}

@font-face {
  font-family: "Lato";
  src: local("宋体");
  font-weight: 700;
}

@font-face {
  font-family: "Google Sans";
  src: local("宋体");
}

@font-face {
  font-family: "Google Sans";
  src: local("宋体");
  font-weight: 500;
}

@font-face {
  font-family: "DejaVuSans";
  src: local("宋体");
}

@font-face {
  font-family: "DejaVuSans";
  src: local("宋体");
  font-weight: 400;
}

@font-face {
  font-family: "DejaVuSans";
  src: local("宋体");
  font-weight: bold;
}

@font-face {
  font-family: "DejaVu Sans";
  src: local("宋体");
}

@font-face {
  font-family: "DejaVu Sans";
  src: local("宋体");
  font-weight: 400;
}

@font-face {
  font-family: "DejaVu Sans";
  src: local("宋体");
  font-weight: bold;
}

@font-face {
  font-family: "medium-content-serif-font";
  src: local("宋体");
}

@font-face {
  font-family: "medium-content-serif-font";
  src: local("宋体");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "medium-content-sans-serif-font";
  src: local("宋体");
  font-weight: 400;
}

@font-face {
  font-family: "medium-content-sans-serif-font";
  src: local("宋体");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: local("宋体");
}

@font-face {
  font-family: "Raleway";
  src: local("宋体");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: local("宋体");
}

@font-face {
  font-family: "Open Sans";
  src: local("宋体");
  font-weight: 700;
}

/*
 * code
 * --------------------------------------------------
 */
@font-face {
  font-family: "CamingoCode";
  src: local("Monaco");
}

@font-face {
  font-family: Consolas;
  src: local("Monaco");
}

@font-face {
  font-family: Consolas;
  src: local("Monaco");
  font-weight: 700;
}

@font-face {
  font-family: Consolas;
  src: local("Monaco");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Monaco");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Monaco");
  font-weight: 700;
}

@font-face {
  font-family: monospace;
  src: local("Monaco");
}

@font-face {
  font-family: "DejaVuSansMono";
  src: local("Monaco");
}

@font-face {
  font-family: "DejaVuSansMono";
  src: local("Monaco");
  font-weight: bold;
}

@font-face {
  font-family: "Fira Mono";
  src: local("Monaco");
  font-weight: 300;
}

@font-face {
  font-family: "Droid Sans Mono";
  src: local("Monaco");
}

@font-face {
  font-family: "Droid Sans Mono";
  src: local("Monaco");
  font-weight: 400;
}

@font-face {
  font-family: "RobotoMono";
  src: local("Monaco");
}

@font-face {
  font-family: "RobotoMono";
  src: local("Monaco");
  font-weight: 400;
}

@font-face {
  font-family: "RobotoMono";
  src: local("Monaco");
  font-weight: 600;
}

code {
  font-family: "Monaco" !important;
}

/*
 * --------------------------------------------------
 */
pre {
  font-family: "Monaco" !important;
}
